<div class="bg-light">
  <div style="height: 70px" class="container-xxl d-flex justify-content-around">
    <img src="./assets/imgs/llantas-michelin.png_w=140&fm=jpg" alt="" />
    <img src="./assets/imgs/llantas-yokohama.png_w=140&fm=jpg" alt="" />
    <img src="./assets/imgs/Logo_Toyo_final-01.png_w=140&fm=jpg" alt="" />
    <img src="./assets/imgs/llantas-pirelli.png_w=140&fm=jpg" alt="" />
    <img src="./assets/imgs/llantas-bridgestone.png_w=140&fm=jpg" alt="" />
    <img src="./assets/imgs/llantas-goodyear.png_w=140&fm=jpg" alt="" />
  </div>
</div>
