<div class="d-flex flex-column w-100 borde-inferior-amarillo">
  <div
    style="height: 85px"
    class="fondo-amarillo d-flex align-items-center w-100"
  >
    <img
      style="height: 60px"
      class="ms-auto mx-4"
      src="../../../assets/icons/ic_logo_servillantas_01.svg"
    />
  </div>

  <nav
    class="d-flex align-items-center menu-font container-xxl"
    style="height: 50px"
  >
    <a
      [routerLink]="['/home']"
      routerLinkActive="linkActivo"
      class="item-nav text-white text-decoration-none"
      >Home</a
    >
    <a
      [routerLink]="['/nuevas']"
      routerLinkActive="linkActivo"
      class="item-nav text-white text-decoration-none"
      >Primera Mano</a
    >
    <a
      [routerLink]="['/usadas']"
      routerLinkActive="linkActivo"
      class="item-nav text-white text-decoration-none"
      >Segunda Mano</a
    >
  </nav>
</div>
