<div class="d-flex flex-column w-100 borde-inferior-amarillo">
  <div
    style="height: 85px"
    class="fondo-amarillo d-flex align-items-center w-100"
  >
    <img
      style="height: 75px"
      class="ms-auto mx-3"
      src="./assets/icons/ic_logo_servillantas_0111.png"
    />
  </div>

  <nav
    class="d-flex align-items-center menu-font container-xxl"
    style="height: 50px"
  >
    <a
      [routerLink]="['/home']"
      routerLinkActive="fondo-azul"
      class="item-nav text-white text-decoration-none"
      >Home</a
    >
    <a
      *ngIf="isHome()"
      (click)="scroll('buscador')"
      class="item-nav text-white text-decoration-none"
      >Busca tu llanta</a
    >
    <a
      [routerLink]="['/contact']"
      routerLinkActive="fondo-azul"
      class="item-nav text-white text-decoration-none"
      >Info útil</a
    >
  </nav>
</div>
