<div class="container-fluid card-neumatico bg-light overflow-hidden px-3 pt-3">
  <div class="row">
    <div class="col-3">
      <img
        class="img-fluid"
        src="./assets/imgs/12837_b.png_w=350&h=350&fit=fit&fm=png&q=70"
        alt="50px"
      />
    </div>

    <div class="col-5">
      <h5>225/40 R18</h5>
      <h2>YOKOHAMA AD08</h2>
      <p><strong>USO:</strong> Autopista (H/T)</p>
      <a
        target="_blank"
        href="https://wa.me/573107695856?text=Hola, estoy interesado en llantas."
        ><div class="btn btn-primary fondo-azul">
          Contactarme con un asesor
        </div></a
      >
    </div>

    <div class="col-4">
      <p>PRECIO AHORA</p>
      <p><strong>$ 21,500,00</strong> por unidad</p>
      <p>IVA INCLUIDO | NO INCLUYE RIN</p>
    </div>
  </div>
</div>
