<div class="container-fluid bg-light overflow-hidden px-3 pt-3">
  <div class="row">
    <div class="col-3">
      <img
        class="img-fluid"
        src=".\assets\imgs\llanta-cortada.jfif"
        alt="50px"
      />
    </div>

    <div class="col-5 flex-column d-flex">
      <h5>225/40 R18</h5>
      <h2>YOKOHAMA AD08</h2>
      <p><strong>USO:</strong> Autopista (H/T)</p>
      <a
        target="_blank"
        href="https://wa.me/573107695856?text=Hola, estoy interesado en llantas."
        ><div class="btn btn-primary fondo-azul">
          Contactarme con un asesor
        </div></a
      >
      <button type="button" class="btn col-5 my-2 btn-outline-secondary">
        Ver detalle
      </button>
    </div>

    <div class="col-4">
      <p class="my-1">PRECIO AHORA</p>
      <p class=""><strong class="fs-5">$ 21,500,00</strong> Por unidad</p>
      <p class="font-card">IVA INCLUIDO | NO INCLUYE RIN</p>
      <p class="font-card">ENVÍO GRATIS</p>
      <div class="d-flex align-items-center">
        <div
          class="col-7 d-flex align-items-center justify-content-start gap-4"
        >
          <button class="btn btn-outline-secondary">-</button>
          <span class="fs-5">0</span>
          <button class="btn btn-outline-secondary">+</button>
        </div>
        <div class="col-5 d-flex align-items-center justify-content-end">
          <span class="fs-5">$0000000</span>
        </div>
      </div>
    </div>
  </div>
</div>
