<div
  class="d-flex flex-column container-md contactForm py-4 px-5 gap-5 my-2 my-md-5"
>
  <div class="d-flex flex-column">
    <h2>CONSULTAS | ATENCIÓN AL CLIENTE</h2>

    <div class="d-flex align-items-center gap-3 my-3">
      <img
        class="iconoHeight2"
        src="./assets/icons/whatsapp_black.png"
        alt=""
      />
      <span class="font-black"
        >Comunicate por whatsapp de lunes a viernes (09 a 22hs).
        <strong>+54-11-2323232</strong></span
      >
    </div>

    <div class="d-flex align-items-center gap-3 mb-3">
      <img class="iconoHeight" src="./assets/icons/letra.png" alt="" />
      <span class="font-black"
        >Envianos tus consultas por correo electronico a
        <strong>miguel@miguel.co</strong>
      </span>
    </div>

    <div class="d-flex align-items-center gap-3">
      <img
        class="iconoHeight2"
        src="./assets/icons/telefono-movil.png"
        alt=""
      />
      <span class="font-black"
        >Llamanos al +54-11-2323232 de lunes a viernes 9 a 20hs.</span
      >
    </div>
  </div>

  <div class="d-flex flex-column my-3">
    <h2>PLANTA</h2>
    <span class="font-black">FATE S.A.I.C.I.</span>
    <span class="font-black">Av. Blanco Encalada 3003</span>
    <span class="font-black">B1644GspanK Victoria</span>
    <span class="font-black">Buenos Aires, Argentina</span>
    <span class="font-black">T. +54 11 4725 8100</span>
  </div>
</div>
