<div class="d-flex flex-column bg-light px-2 py-3 text-center rounded">
  <h3>¿Tienes dudas?</h3>
  <p>
    ¡Podemos ayudar! Nuestros expertos capacitados tienen años de experiencia en
    el montaje de llantas y están disponibles para responder tus preguntas.
  </p>

  <div class="d-flex gap-3 flex-column">
    <div class="d-flex align-items-center justify-content-between w-100">
      <img class="icono_sider" src="./assets/icons/whatsapp_black.png" alt="" />
      +54 9 115050-4040
    </div>

    <div class="d-flex align-items-center justify-content-between w-100">
      <img class="icono_sider" src="./assets/icons/telefono-movil.png" alt="" />
      +54 9 115050-4040
    </div>

    <div class="d-flex align-items-center justify-content-between w-100">
      <img class="icono_sider" src="./assets/icons/letra.png" alt="" />
      llantas@llantas.com.co
    </div>
  </div>
</div>
