/* You can add global styles to this file, and also import other style files */
:root {
  --header-bg-color: #ffc700;
  --main-bg-color: #1E1E1E;
}

.fondo-amarillo {
  background-color: var(--header-bg-color);
}

.fondo-disable{
  background-color: #8b8a8ab0
}

.fondo-gris {
  background-color: var(--main-bg-color);
}

@font-face {
  font-family: orator;
  src: url(./assets/fonts/OratorStd-Slanted.otf) format("opentype");
}

.menu-font {
  color: white;
  font-family: 'orator', 'arial', sans-serif;

}

.font-white {
  color: white;
  font-family: 'orator', 'arial', sans-serif;
}

.font-black {
  color: black;
  font-family: 'orator', 'arial', sans-serif;

}

.font-yellow {
  font-family: 'orator', 'arial', sans-serif;
  color: var(--header-bg-color);
}

.fondo-azul{
  background-color: #2462a4;
}