<div class="container-fluid bg-white border-bottom" style="height: 10px"></div>
<section
  id="footer"
  class="d-flex font-black container-fluid justify-content-between fondo-amarillo"
>
  <div id="idMarca" class="container p-2">
    <p class="m-0 fw-bold mb-2">Marcas con las que trabajamos</p>
    <ul class="m-0 p-0 font-items">
      Dunlop
    </ul>
    <ul class="m-0 p-0 font-items">
      Fate
    </ul>
    <ul class="m-0 p-0 font-items">
      Michelin
    </ul>
    <ul class="m-0 p-0 font-items">
      Pirelli
    </ul>
  </div>
  <div id="idInfo" class="container p-2">
    <p class="m-0 fw-bold mb-2">Informacion</p>
    <ul class="m-0 p-0 font-items">
      Contactanos
    </ul>
    <ul class="m-0 p-0 font-items">
      Garantia
    </ul>
    <ul class="m-0 p-0 font-items">
      Direccion
    </ul>
    <ul class="m-0 p-0 font-items">
      Proceso de compra
    </ul>
    <ul class="m-0 p-0 font-items">
      Medios de pago
    </ul>
  </div>
  <div id="idRedes" class="container text-center col-2 p-2">
    <p class="m-0 fw-bold mb-2">Redes Sociales</p>
    <div
      class="container d-flex align-items-center justify-content-center gap-3"
    >
      <i class="fa-brands fa-instagram fs-3"></i>
      <i class="fa-brands fa-twitter fs-3"></i>
      <i class="fa-brands fa-square-facebook fs-3"></i>
    </div>
  </div>
</section>
