<div class="d-flex flex-column p-1 container-xxl">
  <h2 class="font-yellow text-center">
    ¿NECESITÁS ENCONTRAR LOS NEUMÁTICOS PERFECTOS PARA TU VEHÍCULO?
  </h2>
  <h6 class="font-white text-center">
    Utilizá el buscador para encontrar tu llanta, podes hacerlo por modelo de
    auto o por tamaño de neumatico.
  </h6>

  <div class="d-flex mt-4 container-xxl p-0 flex-column gap-1 gap-md-3">
    <div style="max-width: 500px" class="d-flex justify-content-between">
      <div
        (click)="activateButton('vehiculo')"
        data-tipo="vehiculo"
        class="d-flex flex-column flex-sm-row boton-finder p-1 p-sm-3 rounded-4 gap-2 align-items-center fondo-amarillo"
      >
        <img class="icono" src="./assets/icons/ic_logo_auto.svg" />
        <span class="text-center">BUSCAR POR VEHICULO</span>
      </div>
      <div
        (click)="activateButton('rodado')"
        data-tipo="rodado"
        class="d-flex flex-column flex-sm-row boton-finder p-1 p-sm-3 rounded-4 gap-2 align-items-center fondo-disable"
      >
        <img class="icono" src="./assets/icons/ic_logo_neumatico.svg" />
        <span class="text-center">BUSCAR POR LLANTA</span>
      </div>
    </div>

    <div class="fondo-amarillo rounded-3 form-card p-3">
      <form [formGroup]="neumaticosForm">
        <div *ngIf="esVehiculo" class="form-group">
          <label for="marca" class="font-black" id="marcaLabel"
            >Selecciona la marca de tu vehiculo:</label
          >
          <select
            class="form-control mb-2"
            id="marca"
            formControlName="marcaSelec"
          >
            <option hidden [value]="null" selected disabled>
              Elegí tu marca
            </option>
            <option [value]="item" *ngFor="let item of dataMarcas">
              {{ item }}
            </option>
          </select>

          <label for="modelo" class="font-black">Selecciona modelo:</label>
          <select
            class="form-control mb-2"
            id="modelo"
            formControlName="modelo"
          >
            <option [value]="item" *ngFor="let item of dataAnio">
              {{ item }}
            </option>
            <option [value]="null" selected hidden disabled>
              Elegí tu modelo
            </option>
          </select>

          <label for="linea" class="font-black">Selecciona linea:</label>
          <select class="form-control mb-2" id="linea" formControlName="linea">
            <option [value]="null" selected hidden disabled>
              Elegí tu linea
            </option>
            <option [value]="item" *ngFor="let item of dataLinea">
              {{ item }}
            </option>
          </select>
        </div>

        <div *ngIf="!esVehiculo" class="form-group">
          <label for="ancho" class="font-black">Selecciona ancho:</label>
          <select class="form-control mb-2" id="ancho">
            <option selected hidden disabled>Elegí el ancho</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
            <option>32</option>
          </select>

          <label for="perfil" class="font-black">Selecciona perfil:</label>
          <select class="form-control mb-2" id="perfil">
            <option selected hidden disabled>Elegí el perfil</option>
            <option>10.5</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
          </select>

          <label for="rin" class="font-black">Selecciona rin:</label>
          <select class="form-control mb-2" id="rin">
            <option selected hidden disabled>Elegí el rin</option>
            <option>Corvette</option>
          </select>
        </div>

        <a id="buscador" [routerLink]="['/cart']"
          ><div class="btn mt-1 mt-md-3 btn-primary fondo-azul">Buscar</div></a
        >
      </form>
    </div>
  </div>
</div>
